.Tabs {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

.Tabs__Tab {
  display: inline-block;
  padding: 1em;
  background: hsla(0, 0%, 0%, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.Tabs__TabAlt {
  display: inline-block;
  padding: 2em;
  background: hsl(0, 0%, 93%);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.Tabs__Tab:hover, .Tabs__Tab--active {
  background: rgba(255, 105, 180, 0);
  color: white;
}

.Tabs__Underline {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 3px solid rgb(129, 84, 220);
  transition: left 0.3s ease-out, width 0.3s ease-out;

}